{include file="public/_meta" /}
	<title>数据字典</title>
</head>
<body>
	<div class="wap-container">
		<nav class="breadcrumb" style="background-color:#fff;padding: 0 24px">
			首页
			<span class="c-gray en">/</span>
			系统管理
			<span class="c-gray en">/</span>
			数据字典
			<a class="btn btn-success radius f-r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
		</nav>

		<article class="Hui-admin-content clearfix">
			<div class="panel">
				<div class="panel-body">
					<div class="text-c"> 字典名称:
						<input type="text" class="input-text" id="" name="" style="width:150px">
						表名:
						<span class="select-box inline">
							<select class="select" id="" name="">
								<option value="0">选择一个系统表名</option>
								<option value="AccountInfo">AccountInfo</option>
								<option value="AdminInfo">AdminInfo</option>
							</select>
						</span>
						字段名:
						<span class="select-box inline">
							<select class="select" id="" name=""></select>
						</span>
						<input type="hidden" id="" name="">
						<button type="submit" class="btn btn-primary radius" id="" name=""><i class="Hui-iconfont">&#xe600;</i> 添加字典</button>
					</div>
				</div>
			</div>
			<div class="panel mt-20">
				<div class="panel-body">
					<div class="clearfix">
						<span class="f-l">
							<a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a>
						</span>
						<span class="f-r">共有数据：<strong>54</strong> 条</span>
					</div>
					<div class="mt-20 clearfix">
						<table class="table table-border table-bordered table-bg table-hover table-sort">
							<thead>
								<tr class="text-c">
									<th width="25"><input type="checkbox" name="" value=""></th>
									<th width="80">ID</th>
									<th>名称</th>
									<th width="105">表名</th>
									<th width="105">字段名</th>
									<th width="100">操作</th>
								</tr>
							</thead>
							<tbody>
								<tr class="text-c">
									<td><input type="checkbox" value="" name=""></td>
									<td>0001</td>
									<td>城市</td>
									<td>city</td>
									<td>city</td>
									<td class="f-14"><a style="text-decoration:none" onclick="system_data_edit('角色编辑','system-data-edit.html','0001','400','310')" href="javascript:;" title="编辑"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="javascript:;" onclick="system_data_del(this,'10001')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</article>
	</div>
{include file="public/_footer" /}

	<!--请在下方写此页面业务相关的脚本-->
	<script type="text/javascript" src="__HULITONG__/lib/datatables/1.10.15/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="__HULITONG__/lib/laypage/1.2/laypage.js"></script>
	<script type="text/javascript" src="__HULITONG__/static/business/js/main.js"></script>
  <!--/请在上方写此页面业务相关的脚本-->
  <script type="text/javascript">
    $(function(){
      // 全选 页面调用
      $(".table").HuicheckAll(
        {
          checkboxAll: 'thead input[type="checkbox"]',
          checkbox: 'tbody input[type="checkbox"]'
        },
        function(checkedInfo) {
          console.log(checkedInfo);
        }
      )
    });
  </script>
</body>
</html>
